.map{
  position: relative;
  height: 100vh;
  width: 100vw;

  .innerMap{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #eee;
    z-index: 1;
    overflow: hidden;
  }

  .detail{
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 80px;
    z-index: 99;
  }

  .bottom{
    display: inline-block;
    position: absolute;
    bottom: 0;
    z-index: 99;
    left: 0;
    right: 0;
    height: 200px;
    background: rgba(255,255, 255, .8);
    box-shadow: 0 -1px 5px #bbb
  }
  .icon {
    display: inline-block;
    position: absolute;
    bottom: 230px;
    right: 20px;
    z-index: 99;
  }
  .returnImg{
    width: 25px;
    position: absolute;
    z-index: 2;
    right: 2.5%;
    top: 22px;
    cursor: pointer;
  }

  //  元素
  .bottomWrap{
    position: fixed;
    bottom: 0;
    z-index: 2;
    height: 92px;
    width: 100%;
    //元素按钮
    .eleBtn{
      background:#5D74DF ;
      width: 95px;
      height: 42px;
      color: rgb(255, 255, 255);
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
      line-height: 42px;
      position: fixed;
      //bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      transition: all .3s;
    }
    //  元素控制样式
    .eleContainer{
      width: 95%;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      z-index: 2;
      background: #fff;
      //height: 50px;
      display: flex;
      border-radius:  10px 10px 0 0;
      transition: all .3s;
      .title{
        color: #5E6FBF;
        font-size: 16px;
        line-height: 50px;
        margin-left: 3%;
      }
      .eleWrap{
        margin-left: 1%;
        line-height: 46px;
        display: flex;
        .imgWrap{
          width: 125px;
          display: flex;
          .eleName{
            width: max-content;
            margin-right: 8px;
          }
          .eleMap{
            width: 15px;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
  //各底部元素数量的样式
  .kindNums{
    position: absolute;
    z-index: 3;
    top: 60px;
    left: 20%;
    div{
      background: #5568BA;
      border-radius: 4px;
      margin-bottom: 7px;
      color: #fff;
      padding: 0 3px 0 11px;
      min-width: 133px;
      width: max-content;
    }
  }
//  顶部的筛选
  .topContainer{
    opacity: 0.9;
    position: absolute;
    z-index: 2;
    width: 350px;
    background: #fff;
    height: 59px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    display: flex;
    justify-content: space-around;
    .itemWrap{
      //width: 25%;
      display: flex;
      font-size: 14px;
      color: #2b3a57;
      cursor: pointer;
      //未选择的
      .btnFalse{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #eee;
        margin-top: 15px;
      }
      .redPoint{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #e94e39;
        margin-top: 15px;
      }
      .orangePoint{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #f1892c;
        margin-top: 15px;
      }
      .yellowPoint{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #f1c52c;
        margin-top: 15px;
      }
      .bluePoint{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #4284ff;
        margin-top: 15px;
      }
      .itemTitle{
        line-height: 40px;
        margin-left: 5px;
        span{
          margin-left: 3px;
        }
      }
    }
    .itemnumber1{
      color: #FE3C29;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: .5;
      padding-bottom: 11px;
    }
    .itemnumber2{
      color: #FF8300;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: .5;
      padding-bottom: 11px;
    }
    .itemnumber3{
      color: #FAC400;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: .5;
      padding-bottom: 11px;
    }
    .itemnumber4{
      color: #2383FF;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: .5;
      padding-bottom: 11px;
    }
  }
  //日期
  .timeWrap{
    z-index: 2;
    position: absolute;
    left: 110px;
    top: 12px;
    font-size: 15px;
    font-weight: 600;
  }
//  点击单网格样式
  .oneGrid{
    background: #fff;
    opacity: 0.9;
    width: 9%;
    padding: 5px;
    height: max-content;
    z-index: 2;
    position: absolute;
    top: 60px;
    right: 392px;
    border-radius: 9px;
    box-shadow: 1px 1px 8px 1px;
    div{
      margin-top: 10px;
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      height: 25px;
    }
  }
}



:global {
  .ant-tabs-tabpane{
  background-color: #fff;
    padding-bottom: 10px;
  }
  .ant-tabs-nav{
    width: 383px;
    background: #FAFAFA;
    height: 60px;
    font-size: 18px;
    text-align: center;
    margin: 0!important;
    .ant-tabs-tab-active{
      width: 190px!important;
      font-size: 20px;
      height: 60px;
      color: #fff!important;
      line-height: 44px!important;
      background: linear-gradient(#6785FF,#5567C5)!important;
    }
    .ant-tabs-tab{
      height: 60px!important;
      border:none!important;
      color: #4359B7;
      width: 190px!important;
      line-height: 44px;
      font-weight: 500;
      font-size: 20px;
    }
  }
}
