<!doctype html>
<html>
<head>
  <title><%= context.title %></title>
  <meta charset="utf-8"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="email=no"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, shrink-to-fit=no"/>

  <script type='text/javascript' src="https://cdn.bootcss.com/echarts/4.2.1/echarts.min.js"></script>
  <script type="text/javascript"
          src="https://webapi.amap.com/maps?key=500442ef44ed0eda7fd93577e3a73f30&v=1.4.15&plugin=Map3D,ElasticMarker,MouseTool"></script>
  <script type="text/javascript"
          src="https://webapi.amap.com/loca?key=500442ef44ed0eda7fd93577e3a73f30&v=1.3.2"></script>
  <script src="https://webapi.amap.com/maps?v=1.4.15&key=500442ef44ed0eda7fd93577e3a73f30&plugin=AMap.RectangleEditor"></script>
  <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=500442ef44ed0eda7fd93577e3a73f30&plugin=AMap.Geocoder,AMap.Autocomplete,AMap.PlaceSearch,AMap.ControlBar"></script>

</head>
<body>
<div id="root"></div>
</body>
</html>
